<!--<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">-->
<!--  <h5 class="my-0 mr-md-auto font-weight-normal">BlueCoding Url Shortener Challenge</h5>-->

<%#= link_to 'Most Popular', home_most_popular_path, role: 'button', class: 'btn btn-outline-primary' %>
<!--  <a class="btn btn-outline-primary" href="#">About</a>-->
<!--</div>-->

<nav class="navbar navbar-light bg-light static-top">
  <div class="container">
    <%= link_to root_path, class: 'navbar-brand my-0 mr-md-auto font-weight-normal' do %>
      BlueCoding URL Shortener
    <% end %>
    <%= link_to 'Most Popular', home_most_popular_path, role: 'button', class: 'btn btn-outline-primary' %>
  </div>
</nav>